.navbar {
    background-color: #1f2937; // dark gray
    color: white;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: sticky;
    top: 0;

    .title {
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        min-width: 150px;
    }

    .navbar-container {
        display: flex;
        margin: 0 auto;
        display: flex;
        align-items: center;
        align-content: center;
        gap: 3rem;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-links {
        display: flex;
        gap: 1.5rem;
        min-width: 20%;
        a {
            color: white;
            text-decoration: none;
            font-weight: 500;
            min-width: fit-content;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .navbar-actions {
        display: flex;
        align-items: center;
        gap: 1rem;

        .lang-switcher {
            position: relative;

            .lang-btn {
                background: none;
                border: none;
                color: white;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 0.3rem;
            }

            .lang-dropdown {
                position: absolute;
                right: 0;
                margin-top: 0.5rem;
                background-color: white;
                color: black;
                border-radius: 0.25rem;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
                overflow: hidden;
                padding: 0;
                    z-index: 1000;

                li {
                    list-style: none;
                    padding: 0.5rem 1rem;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    &:hover {
                        background-color: #f0f0f0;
                    }


                }
            }
        }

        .auth-link {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .flag-icon {
        width: 25px;
        height: 25px;
        object-fit: cover;
        margin-right: 0.5rem;
        border-radius: 2px;
    }

}